<div class="absence-reason-form">

    <div class="absence-reason-form__title">
        Добавить новую причину отсутствия:
    </div>
    <div class="absence-reason-form__inputs">
        <form action="/absence/create" method="post">
            <div class="form-input"><input type="text" placeholder="Название" name="name"/></div>
            <div class="form-input"><input type="checkbox" placeholder="Полный день" name="fullDay"/></div>
            <button>Сохранить</button>
        </form>
    </div>
</div>