.create-employee-form {
  width: 60%;
  margin: 50px auto 50px;
  text-align: center;

  &__title {
    @include title()
  }

  &__inputs {
    width: 60%;
    margin: 0 auto;
  }
}

.EmployeeForm-component {

  position: fixed;
  background-color: rgba(80, 114, 153, 0.7);
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .create-employee-form {
    width: 400px;
    height: 600px;
    margin: 50px auto 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

    &__title {
      @include title()
    }

    &__inputs {

      width: 60%;
      margin: 0 auto;
    }
  }
}

.import-form {
  width: 300px;
  text-align: center;

  &__title {
    @include title();
  }
}

.employee-reasons-item {
  width: 100px;
  display: inline-block;
}