<div>

    <div class="main-page__button-item"
         data-component="EmployeeFormComponent"
         th:attr="data-config=${employee == null ? '' : employee.id}">
        <a href="#" class="admin create-employee-form__open-popup-button"></a>
        <div class="employee-form-container"/>
    </div>

   <!-- <div class="create-employee-form__title">
        Добавить нового пользователя:
    </div>

    <div class="create-employee-form__inputs">
        <form action="/employee/create" method="post">
            <div><input type="text" placeholder="Имя" name="name"/></div>
            <div><input type="text" placeholder="IP Адрес" name="ip"/></div>
            <label>Должность: </label>
            <select name="position">
                <option th:each="position : ${positions}"
                        th:value="${position.ID}"
                        th:text="${position.shortName}"/>
            </select><br/>
            <button>Добавить</button>
        </form>
    </div>-->
</div>