<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>

<script type="text/javascript" th:src="@{/js/index.js}"/>

<script>
    App.start();
</script>