<div class="employes-list" data-component="EmployeeList">

    <div class="employes-list__title">
        Список сотрудников
    </div>

    <table class="employes-list__table">
        <tbody>
            <tr class="employes-list__table-row--header">
                <td class="employes-list__table-cell">Имя</td>
                <td class="employes-list__table-cell">IP</td>
                <td class="employes-list__table-cell">Должность</td>
                <td class="employes-list__table-cell">Причины отсустствия</td>
            </tr>
            <tr th:each="employee : ${employes}"
                class="employes-list__table-row"
                th:attr="data-empid=${employee.id}">
                <td class="employes-list__table-cell"><span th:text="${employee.name}"/></td>
                <td class="employes-list__table-cell"><span th:text="${employee.ip}"/></td>
                <td class="employes-list__table-cell"><span th:text="${employee.position.fullName}"/></td>
                <td class="employes-list__table-cell">
                    <ul>
                        <li th:each="reason : ${employee.employeeReasons}" th:inline="text">
                            [[${reason.name}]]
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>