.employes-list {

  &__title {
    @include title()
  }

  &__table {

    width: 80%;
    margin: 0 auto;
    @include table();

    &-row {

      cursor: pointer;
      @include table-row();

      &:hover {
        background-color: #f1f1f1;
      }

      &--header {
        @include table-header();

        .employes-list__table-cell:not(:last-child) {
          @include table-header-cell-border();
        }
      }
    }

    &-cell {
      @include table-cell();
      width: 25%;

      &:not(:last-child) {
        @include table-cell-border-right();
      }
    }
  }
}
