.positions-list {

  &__title {
    @include title()
  }

  &__table {

    width: 60%;
    margin: 0 auto;
    @include table();

    &-cell {

      @include table-cell();
      width: 50%;

      &:not(:last-child) {
        @include table-cell-border-right();
      }
    }

    &-row {

      @include table-row();

      &--header {
        @include table-header();

        .positions-list__table-cell:not(:last-child) {
          @include table-header-cell-border();
        }
      }
    }
  }
}
