<div class="positions-list">

    <div class="positions-list__title">
        Список должностей
    </div>

    <table class="positions-list__table">
        <tbody>
            <tr class="positions-list__table-row--header">
                <td class="positions-list__table-cell">Короткое название</td>
                <td class="positions-list__table-cell">Полное название</td>
            </tr>
            <tr th:each="position : ${positions}"
                class="positions-list__table-row">
                <td class="positions-list__table-cell"><span th:text="${position.shortName}"/>
                </td>
                <td class="positions-list__table-cell"><span th:text="${position.fullName}"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>