<div class="header">
    <div class="header__item">
        <a href="/position/create">Добавить должность</a>
    </div>
    <div class="header__item">
        <a href="/employee/create">Добавить сотрудника</a>
    </div>
    <div class="header__item">
        <a href="/absence/create">Добавить причину отсутствия</a>
    </div>
    <div class="header__item">
        <a href="/import">Импортировать данные</a>
    </div>
</div>