.time-detail-popup {

  display: none;
  position: fixed;
  background-color: rgba(80, 114, 153, 0.7);
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &__content {
    width: 400px;
    height: 600px;
    margin: 50px auto 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

    &__title {
      @include title()
    }
  }
}

.input-time {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.time-label {
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  text-align: right;
}