.timejournal {

  width: 80%;
  margin: 50px auto;

  &__table {

    width: 100%;
    @include table();

    &-row {

      @include table-row();

      &:nth-of-type(even) {

        background-color: #edeef0;
      }

      &--header {
        @include table-header();

        .timejournal__table-cell:not(:last-child) {
          @include table-header-cell-border();
        }
      }
    }

    &-cell {

      @include table-cell();

      &:first-of-type {
        width: 23%;
      }

      &:not(first-of-type) {
        width: 11%;
      }

      &:not(:last-child) {
        @include table-cell-border-right();
      }
    }
  }

  &__nav-panel {

    width: 60%;
    margin: 0 auto 25px;

    &-item {
      display: inline-block;
      width: 32%;
    }
  }

  &__week-selecter {
    margin-bottom: 15px;
  }
}