<div class="timejournal" data-component="AdminTimeJournal"
     th:attr="data-config=${employee == null ? '' : employee.id}">

    <div class="timejournal__nav-panel">
        <div class="timejournal__nav-panel-item">
            <a th:href="@{/employee/info(week='prev',empid=${employee.id})}">Предыдущая неделя</a>
        </div>
        <div class="timejournal__nav-panel-item">
            <a th:href="@{/employee/info(week='current',empid=${employee.id})}">Текущая неделя</a>
        </div>
        <div class="timejournal__nav-panel-item">
            <a th:href="@{/employee/info(week='next',empid=${employee.id})}">Следующая неделя</a>
        </div>
    </div>

    <div class="timejournal__week-selecter">
        Выберите неделю: <input type="week"/>
    </div>

    <table class="timejournal__table">
        <tbody>
            <tr class="timejournal__table-row--header">
                <td class="timejournal__table-cell">Причина</td>
                <td class="timejournal__table-cell"
                    th:each="day : ${timeHeader}"
                    th:inline="text">
                    [[${day}]]
                </td>
            </tr>
            <tr th:each="reason : ${timeJournal}" class="timejournal__table-row">
                <td class="timejournal__table-cell" th:inline="text">
                    [[${reason.reason.name}]]
                </td>
                <td class="timejournal__table-cell" th:each="timeByDay : ${reason.timeByDay.time}">
                    <div th:each="timePair : ${timeByDay.timePairs}">
                        <div th:inline="text">
                            [[${timePair.start}]] - [[${timePair.finish}]]
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
