.content {
  width: 1220px;
  margin: 30px auto 30px;
}

.popup--hidden {
    display: none;
}

.main-page {

  &__buttons {
    width: 60%;
    margin: 300px auto 30px;
  }

  &__button-item {
    display: inline-block;
    width: 35%;
    padding: 50px;
    text-align: center;

    .admin {
      display: block;
      font-weight: 700;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgb(64,199,129);
      box-shadow: 0 -3px rgb(53,167,110) inset;
      transition: 0.2s;

      &:hover {
        background: rgb(53, 167, 110);
      }
    }

    .account {
      display: block;
      font-weight: 700;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgb(91,134,165);
      box-shadow: 0 -3px rgb(43, 79, 167) inset;
      transition: 0.2s;

      &:hover {
        background: rgb(43, 79, 167);
      }
    }
  }
}

.form {
  &-input {

    input, select {
      width: 100%;
      margin: 15px auto;
      height: 30px;
    }
  }
}

form {
  button {
    width: 100%;
    margin: 15px auto;
    height: 30px;
  }
}

body {
  font-size: 16px;
  line-height: 22px;
}

