@mixin title() {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

@mixin table() {
  border-collapse: collapse;
}

@mixin table-header() {
  background-color: #507299;
  height: 60px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 32px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

@mixin table-header-cell-border() {
  border-right: 2px solid #FFFAF0;
}

@mixin table-row() {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  border-bottom: 2px solid #507299;
}



@mixin table-cell() {
  border: 0px solid transparent;
}

@mixin table-cell-border-right() {
  border-right: 2px dashed #507299;
}