<div class="reasons-list">

    <div class="reasons-list__title">
        Список причин отсутствия
    </div>

    <table class="reasons-list__table">
        <tbody>
        <tr class="reasons-list__table-row--header">
            <td class="reasons-list__table-cell">Название</td>
            <td class="reasons-list__table-cell">Полный день</td>
        </tr>
        <tr th:each="reason : ${reasons}"
            class="reasons-list__table-row">
            <td class="reasons-list__table-cell"><span th:text="${reason.name}"/>
            </td>
            <td class="reasons-list__table-cell"><span th:text="${reason.fullDay}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>