<div class="create-position-form">
    <div class="create-position-form__title">
        Добавить новую должность:
    </div>
    <div class="create-position-form__inputs">
        <form action="/position/create" method="post">
            <div class="form-input"><input type="text" placeholder="Короткое название" name="shortName"/></div>
            <div class="form-input"><input type="text" placeholder="Полное название" name="fullName"/></div>
            <button>Сохранить</button>
        </form>
    </div>
</div>